<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
      <div id="header">
        <nav>
          {% if site.show_downloads %}
            <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
            <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
            <li class="title">DOWNLOADS</li>
          {% endif %}
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Hey There &#128075;</h1>
        </div>

        <p align="center" style="font-size: 20px;color:white;" class="lead">I am Sachin Bisht, final year CS undergrad from Graphic Era University, Dehradun. <br> Proficient in data structures and algorithms. <br>Backend developer with knowledge of Django and Flask web frameworks.</p>
        <br>
        <ul class="text-left" style="list-style-position: inside">
                <li> <a style="font-size: 20px;color:yellow;" href="https://drive.google.com/file/d/1iksixojoqSZPZBJ9oqj9I-GQx2VMcoto/view?usp=sharing">Resume</a></li> 
      <li><a style="font-size: 20px;color:yellow;" href="https://www.codechef.com/users/sachinbisht939">Codechef</a></li>
        </ul>
        <br>
        <p align="center" style="font-size: 20px;color:white;" class="lead"> Contact me:
        </p>
        <p align="center">
          <a class="fa fa-github-square" style="font-size:48px;color:black" href="https://github.com/sachin-bisht"></a>
          <a class="fa fa-linkedin-square" style="padding-left:25px;font-size:48px;color:#0077B5" href="https://linkedin.com/in/sachin-bisht/"></a>
          <a class="fa fa-angellist" style="padding-left:25px; font-size:48px;color:black" href="https://angel.co/sachin-bisht-1"></a>
        </p>
        
        <p align="center"> <span style="font-size: 20px;color:white;"> E-mail ID: <span style="font-size: 20px;color:grey"> sachinbisht939@gmail.com </span> </span> </p>
        </p>
      </section>

    </div>
  </body>
</html>
